table.table-small * {
    font-size: 80%;
}

table.table-small th, table.table-small tr, table.table-small td {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
}

table.table-small th {
    border-width: 3px;
}

table.table-small td {
    font-size: 65%;
}

section img.invert {
    filter: invert(86.6%);
    box-shadow: 0 0 0px;
    border: 0px solid black;
}

.sql-exception {
    color: red;
    background: #3f3f3f;
    font-family: monospace;
}